
@font-face {
    font-family: 'futura_stdheavy';
    src: url('fonts/futurah-webfont.eot');
    src: url('fonts/futurah-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurah-webfont.woff') format('woff'),
         url('fonts/futurah-webfont.ttf') format('truetype'),
         url('fonts/futurah-webfont.svg#futura_stdheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * *    N O R M A L I Z E     */


article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline;zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:Futura, "Trebuchet MS", Arial, sans-serif!important; }
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:.67em 0;}
h2{font-family: 'futura_stdheavy', Arial, sans-serif!important; font-size:16px;color:#000; letter-spacing:1px; text-transform:uppercase;font-weight: 200;}
h3{font-family:Arial, sans-serif; font-size:13px;margin:1em 0;color:#666666; font-weight:400;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:.83em;margin:1.67em 0;}
h6{font-size:.67em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:700;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
p,pre{font-family:Arial, sans-serif;font-size:11px;letter-spacing:.6px;margin:1em 0;font-weight:200;color:#666;}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;}
pre{white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:none;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}
legend{border:0;white-space:normal;margin-left:-7px;padding:0;}
button,input,select,textarea{font-size:100%;vertical-align:middle;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type="button"],/* 1 */
input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;overflow:visible;}
button[disabled],html input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;height:13px;width:13px;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body,figure,form{margin:0;}
a{color:#333!important;}

/* N O R M A L I Z E  E N D * * * * * * * * * * * * * * * * * * * * * * */





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * *    C U S T O M I Z E     */

html,button,input,select,textarea{color:#222;}
html, body{font-size:1em;line-height:1.4; height: 100%;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
audio,canvas,img,video{vertical-align:middle;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
.browsehappy{background:#ccc;color:#000;margin:.2em 0;padding:.2em 0;}
.wufoo input.text,.wufoo textarea.textarea,.wufoo input.file{font-family:Futura, "Trebuchet MS", Arial, sans-serif!important;font-style:italic;color:#666;padding:0 0 0 5px;}
.left{float:left;}
body{font-family:Futura, "Trebuchet MS", Arial, sans-serif!important;}
header{display:none!important;}
#heading{width:100%;height:235px!important;background-image:url(../img/fiftyWaysRedBG.png);background-repeat:no-repeat;background-size:100% 235px!important;}
#wrap{width:625px;min-height:675px;margin:0 auto;}
#wrap:after {
  content: "";
  display: block;
}
#main{width:580px;height:675px;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;margin:23px 0 20px 20px;padding:28px 0 0 5px;overflow-y: hidden;}
.header-text{margin:32px 0 0 28px;}
.subheader-text{margin:4px 0 0 28px;}
#inner-header{width:1009px;height:219px;margin:0 auto;}
#required-fields{float:right;margin:15px 20px 0 0;}
#center-image{margin:0 auto!important;}
.preload *{-webkit-transition:none!important;-moz-transition:none!important;-ms-transition:none!important;-o-transition:none!important;}
#load-me{position:absolute;top:50%;left:50%;width:50px;height:50px;margin-top:-25px;margin-left:-25px;}
form li{display:inline-block!important;float:left!important;}
form li div label,form li span label{width:375px;font-size:10px;}
.work-email{margin:-74px 0 0 246px !important;}
.city{margin:-74px 0 0 325px !important;}
.state-list{margin:0!important;}
.zip-code{margin:-74px 0 0 193px !important;}
.50-ways-break{border-top:solid 1px #ccc!important;}
.company-name{margin:5px 0 15px!important;}
.sales-representative{margin:-74px 0 0 319px;}
.account-name{margin:0;}
.checkbox-text{margin-top:15px;}
.address-one.focused{background-color:transparent!important;width:315px!important;}
.city.focused{background-color:transparent!important;width:270px!important;}
.account-name.focused{background-color:transparent!important;width:250px;}
.sales-representative.focused{background-color:transparent!important;width:200px;}
.state-list.focused{background-color:transparent!important;width:176px!important;margin:0!important;}
.work-email.error{position:absolute;top:176px;left:10px;background-color:transparent!important;}
.city.error{background-color:transparent!important;margin:-94px 0 0 325px !important;}
.state-list.error{background-color:transparent!important;margin:0!important;}
.zip-code.error{background-color:transparent!important;margin:-90px 0 0 273px !important;}
.50-ways-break.error{border-top:solid 1px #ccc!important;background-color:transparent!important;}
.company-name.error{background-color:transparent!important;margin:5px 0 15px!important;}
.sales-representative.error{background-color:transparent!important;margin:-93px 0 0 319px;}
.account-name.error{background-color:transparent!important;margin:0;}
.terms-of-use.error{font-size:10px;background-color:transparent!important;margin:20px 0 0!important;}
.follow-up.error{font-size:10px;background-color:transparent!important;margin:-15px 0 0!important;}
#instruct22{width:264px!important;height:76px!important;background-color:transparent!important;font-size:11px;font-style:italic;background-image:url(../img/activateCodeBG.png);background-repeat:no-repeat!important;border:none!important;margin:15px 0 0 -90px !important;padding:20px 25px!important;}
.confirmation-link{font-size:11px!important;font-weight:900!important;}
input:focus,textarea:focus,isindex:focus,keygen:focus,select:focus{outline:none;border:1px solid #15f9ff!important;}
#errorLi{width:99%;background:#fff!important;border:none!important;text-align:center;margin:15px auto;padding:1em 0;}
#Field7{width:301px!important;height:30px!important;}
#Field9{width:240px!important;height:30px!important;}
#Field10{width:150px!important;height:30px!important;}
#Field12{width:252px!important;height:30px!important;}
#Field14{width:176px!important;height:30px!important;}
#Field18{width:303px!important;height:30px!important;}
#Field20{width:236px!important;height:30px!important;}
#Field22{width:262px!important;height:30px!important;}
#req_24{display:none;}
form span.req{color:#000!important;}
.submit{width:142px!important;height:36px!important;text-transform:uppercase;background-image:url(../img/submitBTN.png);color:transparent;margin:-110px 0 0 400px;}
select.select{width:240px;height:34px!important;overflow:hidden;background:url(../img/downBTN.png) no-repeat right #fff!important;-webkit-appearance:none;-moz-appearance:none;text-indent:.01px;border-radius:0;border-top:1px solid #7c7c7c;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;border-bottom:1px solid #ddd;}
.tiny-text{font-family:sans-serif;text-decoration:underline;margin:15px 0 0 8px;}
.tiny-text-agree{font-family:sans-serif;margin:0 0 0 5px;}
.tiny-text-legal{font-family:sans-serif;margin:15px 0 0 13px;}
.agreement{width:325px;height:20px;margin:10px 0 0;}
.underline{text-decoration:underline;}
.bottom-logo{float:left;margin:20px 0 0 20px;}
footer{width:215px;height:38px;float:right;text-decoration:none;margin:0px 0 10px 5px;}
.drop-shadow{position:relative;width:100%;}
.drop-shadow:before,.drop-shadow:after{content:"";position:absolute;z-index:-1;bottom:15px;left:10px;box-shadow:10px 25px 20px rgba(0,0,0,0.7);transform:rotate(-3deg);}
.drop-shadow:after{right:10px;left:auto;transform:rotate(3deg);}
.right{float:right;}
.ir{background-color:transparent;border:0;overflow:hidden;text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:150%;}
.hidden{display:none!important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0000);height:1px;overflow:hidden;position:absolute;width:1px;margin:-1px;padding:0;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;overflow:visible;position:static;width:auto;margin:0;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
input[type="radio"]{-webkit-appearance:checkbox;-moz-appearance:checkbox;-ms-appearance:checkbox;-o-appearance:checkbox;}
::-moz-selection,::selection{background:#b3d4fc;text-shadow:none;}
#right-image{margin-top:-11px;}
label.desc,legend.desc{font-family:futura_stdheavy, Arial, sans-serif!important;font-size:10px!important;letter-spacing:1.5px!important;color:#333!important;text-transform:uppercase;font-weight:400!important;margin-bottom:9px!important;}
#container,.zip-code.focused,.company-name.focused,.activation-code.focused,.full-name.error,.address-one.error,.activation-code.error{background-color:transparent!important;}
input.text,input.search,textarea.textarea,.wufoo select.select{border-top:1px solid #d1d1d1!important;border-left:1px solid #d1d1d1!important;border-right:1px solid #d1d1d1!important;border-bottom:1px solid #d1d1d1!important;background:#fff url(/images/fieldbg.gif) repeat-x top;-webkit-box-shadow:0 .5px .5px .5px rgba(100,100,100,.7)!important;box-shadow:0 .5px .5px .5px rgba(100,100,100,.7)!important;}
.terms-of-use,.follow-up{font-size:10px;background-color:transparent!important;margin:0!important;}
.full-name.focused,.work-email.focused{background-color:transparent!important;width:230px!important;}
#Field3,#Field5{width:224px!important;height:30px!important;}
#Field16,input.medium,select.medium{height:30px!important;}
@media print {
*{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
abbr[title]:after{content:" (" attr(title) ")";}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}
pre,blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
tr,img{page-break-inside:avoid;}
img{max-width:100%!important;}
@page{margin:.5cm;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}
@media only screen and max-width960px {
#left-image{display:none;}
}


.site-footer, #wrap:after {
  /* .push must be the same height as footer */
  height: 100px; 
}
.site-footer {
	margin-top: 200px;
	padding: 0 25px;
  background: #F0F0F0;

  -webkit-box-shadow: 0px -3px 3px 0px rgba(150, 150, 150, 0.3);
-moz-box-shadow:    0px -3px 3px 0px rgba(150, 150, 150, 0.3);
box-shadow:         0px -3px 3px 0px rgba(150, 150, 150, 0.3);
}
